* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b192f;
  font-family: roboto;
  line-height: 1.25vw;
}

header,
main,
footer {
  max-width: 65%;
  margin: auto;
}

.burger-menu {
  display: none;
}

.post-block-five {
  background-color: #b71757;
}

.post-block-four {
  background-color: #0d7e71;
}

.post-block-three {
  background-color: #b1660e;
}

.post-block-two {
  background-color: #d12767;
}

.post-block-one {
  background-color: #2d95bb;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #162b4d;
  height: 5.5vw;
}

.nav-logo a {
  font-size: 2vw;
  font-weight: 100;
  margin-left: 1.5vw;
}

.nav-logo span {
  color: #b71757;
}

.navigation li {
  display: inline-block;
  box-sizing: border-box;
  height: 5.5vw;
  padding: 2vw 1.2vw 2vw 1.2vw;
  cursor: pointer;
  font-weight: 100;
  font-size: 1vw;
  transition-duration: 2s;
}

.navigation ul {
  margin-right: 3vw;
}

.header-nav a {
  text-decoration: none;
}

.header-nav a,
.header-nav a:visited,
.header-nav a:active {
  color: #fff;
}

.navigation li:hover {
  background-color: #b8b8b8;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1vw;
}

.page-posts-wrapper {
  max-width: 75%;
  display: flex;
  flex-direction: column-reverse;
}

.news-wrapper {
  max-width: 23%;
}

.page-posts-wrapper img {
  object-fit: cover;
  width: 50%;
  transition-duration: 0.5s;
}

.news-block img {
  max-width: 100%;
}

.post-block {
  display: flex;
  align-items: flex-start;
}

.post-block:nth-child(even) {
  flex-direction: row-reverse;
}

.post-block article {
  display: flex;
  justify-content: space-between;
  transition-duration: 0.5s;
}

.post-block:nth-child(even) article {
  flex-direction: row-reverse;
}

.post-block:nth-child(even) .block-content {
  text-align: right;
}

.post-block img:hover,
.post-block article:hover {
  cursor: pointer;
  filter: opacity(50%);
}

.block-content {
  min-width: 60%;
  padding: 2vw;
}

.block-content h2 {
  font-size: 2.5vw;
  line-height: 2.5vw;
  font-weight: 100;
  color: #fff;
  margin-bottom: 1vw;
}

.block-content p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8vw;
}

.news-block article {
  background-color: #fff;
  padding: 2vw;
  margin-top: -0.5vw;
}

.news-block-one {
  margin-bottom: 1vw;
}

.news-block h3 {
  margin-bottom: 1vw;
  font-weight: 300;
  font-size: 1.5vw;
  line-height: 1.7vw;
}

.news-block p {
  font-size: 0.8vw;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

.post-block-one .block-content {
  min-width: 82%;
}

.date {
  font-size: 3vw;
  line-height: 2.5vw;
  font-weight: 100;
  margin: 1vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}

.date span {
  font-size: 1.5vw;
}

footer {
  display: flex;
  justify-content: space-between;
  background-color: #162b4d;
  box-sizing: border-box;
  padding: 2vw;
  margin-top: 1vw;
  color: #637693;
  margin-bottom: 0.25vw;
  font-size: 0.8vw;
}

@media only screen and (max-width: 768px) {

  header,
  main,
  footer {
    max-width: 97%;
    margin: auto;
  }

  body {
    line-height: 3.5vw;
  }

  .page-posts-wrapper {
    max-width: 61%
  }

  .news-wrapper {
    max-width: 36%;
  }

  .post-block {
    display: block;
  }

  .post-block article {
    display: block;
  }

  .post-block img {
    width: 100%;
  }

  main {
    margin-top: 2vw;
  }

  .block-content {
    padding: 4vw;
  }

  .block-content h2 {
    font-size: 6.2vw;
    line-height: 7vw;
    margin-bottom: 20px;
  }

  .block-content p {
    font-size: 2vw;
  }

  .date {
    font-size: 7vw;
    line-height: 7vw;
    margin: 10px auto;
  }

  .date span {
    font-size: 3.5vw;
    display: block;
  }

  .post-block:nth-child(even) .block-content {
    text-align: left;
  }

  .news-block h3 {
    font-size: 3vw;
    line-height: 3.5vw;

  }

  .news-block p {
    font-size: 2vw;
    line-height: 2.5vw;
  }

  .news-block article {
    margin-top: -1vw;
    padding: 3vw;

  }

  .news-block-two {
    margin-top: 2vw;
  }

  .header-nav {
    min-height: 25vw;
    flex-direction: column;
  }

  .burger-menu {
    display: block;
    margin: 3vw auto;
    color: white;
    font-weight: 100;
  }

  .navigation {
    display: none;
  }

  .nav-logo {
    margin-bottom: 6vw;
  }

  .nav-logo a {
    font-size: 5vw;
  }

  footer {
    display: block;
    font-size: 2vw;
    line-height: 3vw;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 1vw;
    padding: 3vw;
  }
}

@media only screen and (max-width: 480px) {

  header,
  main,
  footer {
    max-width: 95%;
    margin: auto;
  }

  body {
    line-height: 6vw;
  }

  main {
    flex-direction: column;
    margin-top: 4vw;
  }

  .page-posts-wrapper,
  .news-wrapper {
    max-width: 100%;
  }

  .post-block {
    display: block;
  }

  .post-block img {
    width: 100%;
  }

  .post-block article {
    display: block;
  }

  .block-content {
    padding: 8vw;
  }

  .block-content h2 {
    font-size: 10vw;
    line-height: 10vw;
    margin-bottom: 20px;
  }

  .block-content p {
    font-size: 3.5vw;
    line-height: 5vw;
  }

  .date {
    font-size: 10vw;
    line-height: 10vw;
    margin: 10px auto;
  }

  .date span {
    font-size: 5vw;
    display: block;
  }

  .post-block:nth-child(even) .block-content {
    text-align: left;
  }

  .news-block h3 {
    font-size: 5vw;
    margin: 3vw 0;
  }

  .news-block p {
    font-size: 3.5vw;
    line-height: 5vw;
  }

  .news-block article {
    margin-top: -2vw;
    padding: 7vw;
  }

  .news-block-two {
    margin-top: 4vw;
    margin-bottom: 8vw;
  }

  .header-nav {
    min-height: 40vw;
    flex-direction: column;
  }

  .burger-menu {
    display: block;
    margin: 3vw auto;
    color: white;
  }

  .navigation {
    display: none;
  }

  .nav-logo {
    margin-bottom: 12vw;
  }

  .nav-logo a {
    font-size: 8vw;
  }

  footer {
    display: block;
    font-size: 3vw;
    line-height: 5vw;
    text-align: center;
    margin-bottom: 1vw;
    padding: 5vw 0;
  }

  .footer-credits {
    display: block;
  }
}