$headerBackground: url(../img/header_background_v2.jpg);
$fontType: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$fontSize: 15px/24px;
$headerTextColor: #FF5722;
$borderColor: #CFD8DC;
$btnBackGroundColor: #0401AC;
$articleBackGroundColor: #FFFFFF;
$mainTextColor: grey;
$postDescriptionColor: lightgrey;
$articleHeadingColor: grey;
$pageBackGroundColor: #EFEFEF;
$labelColor: #607D8B;