$headerBackground: url(../img/header_background_v1.jpg);
$fontType: Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$fontSize: 15px;
$lineHeight: 24px;
$headerTextColor: #ECECEC;
$borderColor: #607D8B;
$btnBackGroundColor: #01ACAC;
$articleBackGroundColor: #EFEFEF;
$mainTextColor: black;
$postDescriptionColor: red;
$articleHeadingColor: #01ACAC;
$pageBackGroundColor: white;
$labelColor: #01ACAC;